.additional {
  padding: 0;
  margin: 0;
}

.additional__title {
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.additional__list {
  padding: 0;
  list-style-type: none;
}

.additional__item-title {
  text-decoration: none;
  color: #222222;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
}

.additional__item-text {
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
