.advantages {
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
}

.advantages__wrapper {
  display: block;
}

.advantages__title {
  color: @black;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    margin-bottom: 32px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 32px;
  }
}

.advantages__list {
  list-style-type: none;
  margin: 0;
  padding-left: 80px;
  display: grid;

  @media (min-width: @tablet-width) {
    grid-template-columns: repeat(2, 230px);
    padding: 0;
    column-gap: 153px;
    row-gap: 77px;
    counter-reset: number;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(4, 230px);
    padding: 0;
    column-gap: 94px;
    row-gap: 69px;
  }
}

.advantages__item {
  max-width: 200px;
  position: relative;

  @media (min-width: @tablet-width) {
    max-width: 230px;
    padding-top: 111px;
  }

  @media (min-width: @desktop-width) {
    max-width: 230px;
  }
}

.advantages__item::before {
  @media (min-width: @tablet-width) {
    counter-increment: number;
    content: counters(number, "");
    color: @basic-grey;
  }
}

.advantages__item--healthy::before {
  content: "";
  position: absolute;
  background-image: url("../img/advantages__item--healthy.svg");
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  top: 0;
  left: -75px;

  @media (min-width: @tablet-width) {
    transform: scale(1.3, 1.3);
    top: 0;
    left: 0;
  }
}

.advantages__item--easy::before {
  content: "";
  position: absolute;
  background-image: url("../img/advantages__item--easy.svg");
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  top: 0;
  left: -75px;

  @media (min-width: @tablet-width) {
    transform: scale(1.3, 1.3);
    top: 0;
    left: 0;
  }
}

.advantages__item--use::before {
  content: "";
  position: absolute;
  background-image: url("../img/advantages__item--use.svg");
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  top: 0;
  left: -75px;

  @media (min-width: @tablet-width) {
    transform: scale(1.3, 1.3);
    top: 0;
    left: 0;
  }
}

.advantages__item--fast::before {
  content: "";
  position: absolute;
  background-image: url("../img/advantages__item--fast.svg");
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  top: 0;
  left: -75px;

  @media (min-width: @tablet-width) {
    transform: scale(1.3, 1.3);
    top: 0;
    left: 0;
  }
}

.advantages__description {
  color: @special-dark-grey;
  font-family: @font-family-base;
  font-size: @font-size-base;
  font-style: normal;
  font-weight: 400;
  line-height: @line-height-base;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    font-size: 16px;
    line-height: 24px;
  }
}
