.advantages {
  margin: 0;
  padding: 0;
}

.advantages__title {
  color: @black;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  margin-bottom: 42px;
}

.advantages__list {
  list-style-type: none;
  padding-left: 80px;
  margin: 0;
}

.advantages__description {
  color: @special-dark-grey;
  font-family: @font-family-base, @font-family-additional;
  font-size: @font-size-base;
  font-style: normal;
  font-weight: 400;
  line-height: @line-height-base;
}
