.catalog {
  margin: 0;
  padding: 0;
}

.catalog__button {
  display: flex;
  width: 300px;
  height: 40px;
  padding: 10px 0px;
  justify-content: center;
  align-items: center;
  background-color: #68B738;
}

.catalog__button-show-all {
  color: #444444;
  background-color: #F2F2F2;
}
