.catalog {
  margin: 0;
  padding: 0;
}

.catalog__button {
  padding: 10px 0px;
  background-color: @basic-green;
}

.catalog__button-show-all {
  color: @special-dark-grey;
  background-color: @basic-grey;
}
