.choose-program {
  margin: 0;
  padding: 0;
}

.choose-program__wrapper {
  background-image: url("../img/promo-background-mobil.jpg");
  background-size: 320px 302px;
  background-repeat: no-repeat;
}

.choose-program__title {
  color: @white;
}

.choose-program__slogan {
  color: @white;
  font-size: @font-size-base;
  line-height: 14px;
}

