.choose-program {
  background-image: url("../img/promo-background-mobil.jpg");
  background-repeat: no-repeat;
  background-position: top center;

  @media (min-width: @tablet-width) {
    background: none;
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/promo-background-mobil.jpg");
    background-repeat: no-repeat;
    background-position: top right;
    color: @black;
  }
}

.choose-program__wrapper {
  display: grid;

  @media (min-width: @tablet-width) {
    grid-template-columns: max-content;
    grid-template-rows: 172px 70px 54px 1fr;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 50% 50%;
    margin-left: 80px;
    margin-right: 80px;
    width: 1060px;
  }
}

.choose-program__title {
  color: @white;
  text-align: center;
  margin-top: 27px;
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    color: @black;
    text-align: left;
    margin-left: 90px;
  }

  @media (min-width: @desktop-width) {
    color: @black;
    text-align: left;
    margin-top: 80px;
    margin-left: 0;
  }
}

.choose-program__slogan {
  color: @white;
  font-size: 14px;
  line-height: 14px;
  margin-top: 0;
  margin-bottom: 29px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: @tablet-width) {
    color: @black;
    text-align: left;
    margin-left: 90px;
  }

  @media (min-width: @desktop-width) {
    color: @black;
    text-align: left;
    margin-left: 0;
  }
}

.choose-program__image {
  @media (min-width: @tablet-width) {
    grid-column: 1/-1;
    grid-row: 3/5;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    grid-column: 2/3;
    grid-row: 1/5;
  }
}

.choose-program__button {
  background-color: @basic-green;

  @media (min-width: @tablet-width) {
    grid-column: 1/2;
    grid-row: 3/4;
  }
}
