.example {
  background-color: #eaeaea;

  @media (min-width: @tablet-width) {
    background: linear-gradient(180deg, #ffffff 0% 70%, #eaeaea 70% 100%);
  }

  @media (min-width: @desktop-width) {
    background: linear-gradient(180deg, #ffffff 0% 30%, #eaeaea 30% 100%);
  }
}

.example__wrapper {
  display: grid;
  padding: 0 20px 40px 20px;

  @media (min-width: @tablet-width) {
    grid-template-columns: 578px 130px;
    padding: 0 30px 101px 30px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 570px 570px;
    column-gap: 80px;
    padding: 0 40px 75px 40px;
  }
}

.example__title {
  color: @black;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    grid-column: 1/3;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1/3;
    grid-row: 1/2;
  }
}

.example__description {
  margin: 0;
  margin-bottom: 20px;
  max-width: 280px;

  @media (min-width: @tablet-width) {
    grid-column: 1/3;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1/2;
    grid-row: 2/3;
    max-width: 378px;
  }
}

.example__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
  gap: 32px;

  @media (min-width: @desktop-width) {
    grid-column: 1/2;
    grid-row: 3/4;
  }
}

.example__item {
  display: grid;
  max-width: 124px;
}

.example__value {
  color: @black;
  font-size: 24px;
  line-height: 24px;
}

.example__parameter {
  color: @special-dark-grey;
  font-family: @font-family-base;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.example__cost {
  color: @black;
  font-size: @font-size-base;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: @desktop-width) {
    grid-column: 1/2;
    grid-row: 4/5;
  }
}

.example__slider {
  @media (min-width: @tablet-width) {
    grid-column: 1/3;
  }

  @media (min-width: @desktop-width) {
    grid-column: 2/3;
    grid-row: 1/5;
  }
}
