.main-footer {
  margin: 0 auto;
}

.main-footer__contacts {
  background: #F2F2F2;
}

.main-footer__contacts-title {
  color: #111111;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.main-footer__contacts-address {
  color: #444444;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
