.main-header {
  color: @black;
}

.main-header--index {
  @media (min-width: @desktop-width) {
    background-image: url("../img/promo-background-mobil.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 720px 694px;
    margin-bottom: 82px;
  }
}

.main-header__logo {
  display: flex;
  align-items: center;
  width: 190px;
  height: 38px;
  overflow: hidden;
  text-decoration: none;
}

.main-header__choose-program {
  background-image: url("../img/promo-background-mobil.jpg");
  background-repeat: no-repeat;
  background-size: 320px 302px;
  background-position: center top;

  @media (min-width: @tablet-width) {
    background: none;
  }
}
