.programm-form {
  background-color: #ffffff;
}

.programm-form__group {
  border: none;
  padding: 0;
  margin: 0;
}

.programm-form__list {
  list-style-type: none;
}

.programm-form__label {
  color: #444444;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.programm-form__label::placeholder {
  color: #444444;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.programm-form__button {
  border: none;
  background-color: #68b738;
}

.programm-form__text {
  color: #000000;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
