.programms {
  background-color: @white;
}

.programms__list {
  list-style-type: none;
}

.programms__item {
  width: 280px;
  height: 266px;
  background-color: @basic-grey;
}

.programms__title {
  color: @black;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.programms__description {
  color: @special-dark-grey;
  font-family: @font-family-base, @font-family-additional;
  font-size: @font-size-base;
  font-style: normal;
  font-weight: 400;
  line-height: @line-height-base;
}

.programms__button {
  color: @black;
  line-height: 16px;
}
