*,
*::before,
*::after {
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/lato/Lato-Regular.woff2") format("woff2"), url("../fonts/lato/Lato-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswald/oswaldregular.woff2") format("woff2"), url("../fonts/oswald/oswaldregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.button {
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}
.title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.content-wrapper {
  margin: 0 auto;
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 768px) {
  .content-wrapper {
    width: 768px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 1300px) {
  .content-wrapper {
    width: 1300px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
.page {
  height: 100%;
}
.page__body {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  background-color: #ffffff;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100%;
  margin: 0;
}
.page__title {
  font-size: 36px;
  line-height: 36px;
}
.main-header {
  color: #000000;
}
.main-header--index {
  background-image: url("../img/promo-background-mobil.jpg");
  background-repeat: no-repeat;
  background-position: center 66px;
  background-size: 320px 302px;
}
@media (min-width: 768px) {
  .main-header--index {
    background: none;
  }
}
@media (min-width: 1300px) {
  .main-header--index {
    background-image: url("../img/promo-background-mobil.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 720px 694px;
  }
}
.main-header__logo {
  display: flex;
  align-items: center;
  width: 190px;
  height: 38px;
  overflow: hidden;
  text-decoration: none;
  margin-right: 65px;
}
.main-nav {
  display: flex;
  justify-content: space-between;
}
.main-nav__top {
  display: flex;
  padding-top: 13px;
  padding-bottom: 15px;
}
.main-nav__inner {
  display: none;
}
@media (min-width: 768px) {
  .main-nav__inner {
    display: flex;
  }
}
@media (min-width: 1300px) {
  .main-nav__inner {
    display: block;
  }
}
.main-nav__link {
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
}
@media (min-width: 768px) {
  .main-nav__link {
    font-size: 18px;
    line-height: 24px;
  }
}
@media (min-width: 1300px) {
  .main-nav__link {
    line-height: normal;
  }
}
.main-nav__link--index {
  color: #000000;
}
@media (min-width: 768px) {
  .main-nav__link--index {
    color: #000000;
  }
}
@media (min-width: 1300px) {
  .main-nav__link--index {
    color: #ffffff;
  }
}
.main-nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 33px;
}
.main-nav__item {
  text-align: center;
  padding-top: 22px;
  padding-bottom: 24px;
  border-top: 1px solid #e6e6e6;
}
.main-nav__toggle {
  padding: 0;
  margin: 0;
  border: none;
  position: relative;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }
}
@media (min-width: 1300px) {
  .main-nav__toggle {
    display: none;
  }
}
.main-nav__toggle::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  right: 0;
  background-image: url("/source/img/header-menu-icon-mobile.svg");
  background-repeat: no-repeat;
}
.main-container {
  flex-grow: 1;
}
.main-container__title {
  color: #000000;
  margin-top: 27px;
  margin-bottom: 0;
}
.main-container__description {
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .main-container__description {
    font-size: 20px;
    line-height: 30px;
  }
}
@media (min-width: 1300px) {
  .main-container__description {
    font-size: 20px;
    line-height: 30px;
  }
}
.choose-program__wrapper {
  display: grid;
}
@media (min-width: 768px) {
  .choose-program__wrapper {
    grid-template-columns: 708px;
  }
}
@media (min-width: 1300px) {
  .choose-program__wrapper {
    grid-template-columns: 50% 50%;
    margin-left: 80px;
    margin-right: 80px;
    width: 1060px;
  }
}
.choose-program__title {
  color: #ffffff;
  text-align: center;
  margin-top: 27px;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .choose-program__title {
    color: #000000;
    text-align: left;
    margin-left: 90px;
    font-size: 60px;
    line-height: 60px;
  }
}
@media (min-width: 1300px) {
  .choose-program__title {
    color: #000000;
    text-align: left;
    margin-top: 80px;
    margin-left: 0;
    font-size: 60px;
    line-height: 60px;
  }
}
.choose-program__slogan {
  color: #ffffff;
  font-size: 14px;
  line-height: 14px;
  margin-top: 0;
  margin-bottom: 29px;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 768px) {
  .choose-program__slogan {
    color: #000000;
    text-align: left;
    margin-left: 90px;
    margin-bottom: 21px;
    font-size: 20px;
    line-height: 20px;
  }
}
@media (min-width: 1300px) {
  .choose-program__slogan {
    color: #000000;
    text-align: left;
    margin-left: 0;
    font-size: 20px;
    line-height: 20px;
  }
}
@media (min-width: 768px) {
  .choose-program__image {
    grid-column: 1/-1;
    grid-row: 3/5;
    margin: 0 auto;
  }
}
@media (min-width: 1300px) {
  .choose-program__image {
    grid-column: 2/3;
    grid-row: 1/5;
  }
}
.choose-program__button {
  background-color: #68b738;
  min-height: 40px;
  padding: 8px 64px;
  align-items: center;
  display: inline-flex;
}
@media (min-width: 768px) {
  .choose-program__button {
    grid-column: 1/2;
    grid-row: 3/4;
    font-size: 20px;
    line-height: 20px;
    padding: 8px 26px;
    max-width: 244px;
    margin-left: 90px;
  }
}
@media (min-width: 1300px) {
  .choose-program__button {
    font-size: 20px;
    line-height: 20px;
    padding: 8px 26px;
    max-width: 244px;
    margin-left: 0;
  }
}
.product-information {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 140px 140px;
}
@media (min-width: 768px) {
  .product-information {
    max-width: 324px;
    grid-template-columns: 1fr;
    padding: 0 36px 40px 36px;
    background-color: #f2f2f2;
  }
}
@media (min-width: 1300px) {
  .product-information {
    max-width: 245px;
  }
}
.product-information__wrapper {
  grid-row: 1/3;
}
.product-information__title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin-top: 19px;
  margin-bottom: 14px;
  max-width: 76px;
}
@media (min-width: 768px) {
  .product-information__title {
    margin: 0 auto;
    max-width: 124px;
    text-align: center;
  }
}
.product-information__title-link {
  text-decoration: none;
  color: #222222;
}
.product-information__list {
  margin: 0;
  margin-bottom: 13px;
}
@media (min-width: 768px) {
  .product-information__list {
    margin: 0 auto;
  }
}
.product-information__item {
  color: #444444;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  display: flex;
}
.catalog {
  margin: 0;
  padding: 0;
}
.catalog__wrapper {
  display: grid;
  gap: 25px;
}
@media (min-width: 768px) {
  .catalog__wrapper {
    grid-template-columns: repeat(2, 324px);
    column-gap: 60px;
    row-gap: 68px;
  }
}
@media (min-width: 1300px) {
  .catalog__wrapper {
    grid-template-columns: repeat(4, 245px);
    column-gap: 80px;
    row-gap: 63px;
  }
}
.catalog__button {
  padding: 10px 0;
  background-color: #68b738;
  grid-column: 1/-1;
}
.catalog__button-show-all {
  color: #444444;
  background-color: #f2f2f2;
}
.catalog__text {
  color: #444444;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
.additional {
  padding: 0;
  margin-top: 25px;
  margin-bottom: 35px;
}
.additional__title {
  color: #000000;
  font-size: 24px;
  line-height: 24px;
  margin: 0;
}
@media (min-width: 768px) {
  .additional__title {
    padding-left: 38px;
    padding-right: 37px;
  }
}
@media (min-width: 1300px) {
  .additional__title {
    padding: 0;
  }
}
.additional__content-wrapper {
  display: grid;
}
@media (min-width: 1300px) {
  .additional__content-wrapper {
    grid-template-columns: auto 245px;
    column-gap: 80px;
    row-gap: 0;
  }
}
.additional__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: grid;
  gap: 19px;
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .additional__list {
    padding-left: 38px;
    padding-right: 37px;
  }
}
@media (min-width: 1300px) {
  .additional__list {
    padding: 0;
    gap: 0;
    margin-top: 12px;
    margin-bottom: 12px;
  }
}
.additional__item {
  display: grid;
}
@media (min-width: 1300px) {
  .additional__item {
    display: grid;
    grid-template-columns: 285px 285px 245px;
    column-gap: 40px;
    row-gap: 0;
    max-height: 40px;
    margin-top: 16px;
    margin-bottom: 16px;
  }
}
.additional__item-title {
  text-decoration: none;
  color: #222222;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  margin-top: 13px;
}
.additional__item-text {
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  max-width: 161px;
  text-align: center;
  margin-top: 187px;
  margin-left: 58px;
}
.additional__button {
  padding: 10px 0;
  background-color: #68b738;
}
.additional__promo {
  display: flex;
}
.information__list {
  color: #444444;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  display: flex;
  justify-content: space-between;
}
.information-gift {
  background-image: url("../img/background-information-gift.jpg");
  background-repeat: no-repeat;
}
@media (min-width: 1300px) {
  .information-gift {
    width: 280px;
  }
}
.main-footer {
  background-color: #f2f2f2;
}
.main-footer__wrapper {
  display: grid;
  position: relative;
}
.main-footer__top {
  display: grid;
  grid-template-columns: 140px 140px;
  padding: 26px 20px;
}
@media (min-width: 768px) {
  .main-footer__top {
    gap: 308px;
    padding: 60px 70px;
  }
}
@media (min-width: 1300px) {
  .main-footer__top {
    width: 565px;
    position: absolute;
    top: 95px;
    left: 110px;
    gap: 87px;
    padding-left: 80px;
    padding-top: 60px;
  }
}
.main-footer__contacts-title {
  color: #111111;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .main-footer__contacts-title {
    font-size: 20px;
    line-height: 26px;
  }
}
.main-footer__contacts-address {
  color: #444444;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
@media (min-width: 768px) {
  .main-footer__contacts-address {
    font-size: 16px;
  }
}
.main-footer__bottom {
  display: grid;
  gap: 40px;
}
@media (min-width: 768px) {
  .main-footer__bottom {
    display: flex;
    justify-content: space-between;
    padding: 55px 30px;
  }
}
@media (min-width: 1300px) {
  .main-footer__bottom {
    padding: 66px 110px;
  }
}
.main-footer__bottom .main-footer__copyright {
  display: flex;
  justify-content: space-between;
}
.programm-form {
  background-color: #ffffff;
  margin-bottom: 32px;
  display: flex;
  flex-wrap: wrap;
}
.programm-form__group {
  border: none;
  padding: 0;
  margin: 0;
}
.programm-form__information {
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .programm-form__information {
    width: 100%;
  }
}
@media (min-width: 1300px) {
  .programm-form__information {
    width: 570px;
  }
}
.programm-form__programms {
  margin-top: 22px;
  margin-bottom: 19px;
}
@media (min-width: 768px) {
  .programm-form__programms {
    width: 100%;
  }
}
@media (min-width: 1300px) {
  .programm-form__programms {
    width: 570px;
  }
}
.programm-form__contacts {
  margin-top: 26px;
  margin-bottom: 24px;
}
.programm-form__comments {
  margin-bottom: 23px;
  width: 100%;
}
.programm-form__list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}
.programm-form__item {
  display: flex;
}
.programm-form__label {
  color: #444444;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .programm-form__label {
    font-size: 20px;
    line-height: normal;
  }
}
@media (min-width: 1300px) {
  .programm-form__label {
    font-size: 20px;
    line-height: normal;
  }
}
.programm-form__input {
  width: 100%;
}
.programm-form__input::placeholder {
  color: #444444;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}
.programm-form__radio-description {
  display: inline-flex;
  min-width: 185px;
}
.programm-form__checkbox-description {
  display: inline-flex;
  min-width: 130px;
}
.programm-form__title {
  color: #000000;
  font-size: 24px;
  line-height: 26px;
}
@media (min-width: 768px) {
  .programm-form__title {
    font-size: 36px;
    line-height: 36px;
  }
}
@media (min-width: 1300px) {
  .programm-form__title {
    font-size: 36px;
    line-height: 36px;
  }
}
.programm-form__comment {
  width: 100%;
}
.programm-form__submit {
  width: 880px;
}
.programm-form__button {
  border: none;
  background-color: #68b738;
}
.programm-form__text {
  color: #000000;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
.programms {
  background-color: #ffffff;
}
.programms__list {
  display: grid;
  gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}
@media (min-width: 1300px) {
  .programms__list {
    grid-template-columns: 570px 570px;
    gap: 80px;
  }
}
.programms__item {
  display: grid;
  min-width: 280px;
  min-height: 266px;
  background-color: #f2f2f2;
  padding-left: 20px;
}
@media (min-width: 768px) {
  .programms__item {
    padding-left: 52px;
  }
}
@media (min-width: 1300px) {
  .programms__item {
    padding-left: 52px;
    max-width: 570px;
  }
}
.programms__title {
  color: #000000;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin-left: 90px;
  margin-top: 30px;
  margin-bottom: 29px;
}
@media (min-width: 768px) {
  .programms__title {
    margin-left: 0;
    margin-top: 70px;
    margin-bottom: 24px;
  }
}
@media (min-width: 1300px) {
  .programms__title {
    margin-left: 162px;
    margin-top: 77px;
    margin-bottom: 73px;
  }
}
.programms__description {
  color: #444444;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
  margin-bottom: 38px;
  margin-right: 33px;
}
@media (min-width: 768px) {
  .programms__description {
    margin-right: 316px;
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 1300px) {
  .programms__description {
    margin-right: 61px;
    font-size: 16px;
    line-height: 24px;
  }
}
.programms__button {
  color: #000000;
  line-height: 16px;
  margin-bottom: 18px;
  text-align: left;
}
.advantages {
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
}
.advantages__wrapper {
  display: block;
}
.advantages__title {
  color: #000000;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .advantages__title {
    margin-bottom: 32px;
  }
}
@media (min-width: 1300px) {
  .advantages__title {
    margin-bottom: 32px;
  }
}
.advantages__list {
  list-style-type: none;
  margin: 0;
  padding-left: 80px;
  display: grid;
}
@media (min-width: 768px) {
  .advantages__list {
    grid-template-columns: 230px 230px;
    padding: 0;
    column-gap: 153px;
    row-gap: 77px;
  }
}
@media (min-width: 1300px) {
  .advantages__list {
    grid-template-columns: 230px 230px 230px 230px;
    padding: 0;
    column-gap: 94px;
    row-gap: 69px;
  }
}
.advantages__item {
  max-width: 200px;
}
@media (min-width: 768px) {
  .advantages__item {
    max-width: 230px;
  }
}
@media (min-width: 1300px) {
  .advantages__item {
    max-width: 230px;
  }
}
.advantages__description {
  color: #444444;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .advantages__description {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 1300px) {
  .advantages__description {
    font-size: 16px;
    line-height: 24px;
  }
}
.example {
  background-color: #eaeaea;
}
@media (min-width: 768px) {
  .example {
    background: linear-gradient(180deg, #ffffff 0% 70%, #eaeaea 70% 100%);
  }
}
@media (min-width: 1300px) {
  .example {
    background: linear-gradient(180deg, #ffffff 0% 30%, #eaeaea 30% 100%);
  }
}
.example__wrapper {
  display: grid;
  padding: 0 20px 40px 20px;
}
@media (min-width: 768px) {
  .example__wrapper {
    grid-template-columns: 578px 130px;
    padding: 0 30px 101px 30px;
  }
}
@media (min-width: 1300px) {
  .example__wrapper {
    grid-template-columns: 570px 570px;
    column-gap: 80px;
    padding: 0 40px 75px 40px;
  }
}
.example__title {
  color: #000000;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .example__title {
    grid-column: 1/3;
  }
}
@media (min-width: 1300px) {
  .example__title {
    grid-column: 1/3;
    grid-row: 1/2;
  }
}
.example__description {
  margin: 0;
  margin-bottom: 20px;
  max-width: 280px;
}
@media (min-width: 768px) {
  .example__description {
    grid-column: 1/3;
  }
}
@media (min-width: 1300px) {
  .example__description {
    grid-column: 1/2;
    grid-row: 2/3;
    max-width: 378px;
  }
}
.example__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
  gap: 32px;
}
@media (min-width: 1300px) {
  .example__list {
    grid-column: 1/2;
    grid-row: 3/4;
  }
}
.example__item {
  display: grid;
  max-width: 124px;
}
.example__value {
  color: #000000;
  font-size: 24px;
  line-height: 24px;
}
.example__parameter {
  color: #444444;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}
.example__cost {
  color: #000000;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}
@media (min-width: 1300px) {
  .example__cost {
    grid-column: 1/2;
    grid-row: 4/5;
  }
}
@media (min-width: 768px) {
  .example__slider {
    grid-column: 1/3;
  }
}
@media (min-width: 1300px) {
  .example__slider {
    grid-column: 2/3;
    grid-row: 1/5;
  }
}
.social-list {
  list-style-type: none;
  display: flex;
  gap: 24px;
  width: 320px;
  justify-content: center;
  padding: 0;
}
.social-list__item {
  width: 28px;
  height: 22px;
}
.social-list__link {
  text-decoration: none;
  width: 28px;
  height: 22px;
  display: flex;
}
.social-list__link--vk {
  background-image: url("../img/vkontakte.svg");
  background-repeat: no-repeat;
}
.social-list__link--youtube {
  background-image: url("../img/youtube.svg");
  background-repeat: no-repeat;
}
.social-list__link--telegram {
  background-image: url("../img/telegram.svg");
  background-repeat: no-repeat;
}
/*# sourceMappingURL=style.css.map */
